# Main Node-RED Configuration
MAIN_NODE_RED_URL=http://192.168.1.101:1880
MAIN_USERNAME=arafath
MAIN_PASSWORD=ND!13bo@

# Client Node-RED Configuration
CLIENT_NODE_RED_URL=http://192.168.1.44:1880
CLIENT_USERNAME=arafath
CLIENT_PASSWORD=ND!13bo@

# Sync Configuration
FLOW_NAME=Wansa AC
SYNC_INTERVAL=10
