# Main Node-RED Configuration
MAIN_NODE_RED_URL=http://192.168.1.xx:1880
MAIN_USERNAME=xxxxxx
MAIN_PASSWORD=xxxxxx

# Client Node-RED Configuration
CLIENT_NODE_RED_URL=http://192.168.1.xx:1880
CLIENT_USERNAME=xxxxxxx
CLIENT_PASSWORD=xxxxxx

# Sync Configuration
FLOW_NAME=Wansa AC    #flows name 
SYNC_INTERVAL=10
